.exerciseDetailsContainer {
    .header {
        display: flex;
        flex-direction: row;
        width: 97%;
        .exerciseTitle {
            font-weight: 700;
            font-size: 36px;
            letter-spacing: 0.2px;
            height: 4vw;
            width: 90%;
            p {
                color: #3b3c40;
            }
        }

        .buttons {
            background-color: #6c9fff;
            height: fit-content;

            border-radius: 80px;

            .button {
                padding: 12px 25px;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;

                border-radius: 80px;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }

    .container {
        display: flex;
        flex-direction: row;

        .left {
            width: 30%;
            .thumbnailContainer {
                width: 22.5vw;
                height: 29vw;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .thumbnailImage {
                    height: 100%;
                    width: 100%;
                    border-radius: 20px;
                }
            }

            .aboutContainer {
                margin-top: 2vw;

                .info {
                    display: flex;
                    flex-direction: row;
                    width: 80%;
                    height: 7vw;
                    justify-content: space-between;

                    .items {
                        // margin-bottom: 100px;

                        width: 6vw;
                        height: 5vw;
                        background-color: #e7f3ffbf;
                        border-radius: 10px;

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 1vw 0.5vw;

                        // background-color: red;

                        .logo {
                            // background-color: red;
                            height: 60%;
                            width: 100%;

                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .icons {
                                height: 1.8vw;
                                width: auto;
                            }
                        }

                        p {
                            margin-top: 0.2vw;
                            text-align: center;
                            font-weight: 600;
                            font-size: 0.9vw;
                            color: #614d8f;
                            padding: 0 2vw;
                        }
                    }
                }
                .aboutTitle {
                    height: 3vw;
                    p {
                        font-weight: 700;
                        font-size: 24px;
                        color: #614d8f;
                    }
                }
            }
        }

        .right {
            padding-left: 2vw;
            padding-right: 2vw;
            width: 71%;

            .descriptionContainer {
                padding-bottom: 2vw;
                .descriptionTitle {
                    width: 95%;
                    margin-bottom: 1vw;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    p {
                        font-size: 36px;
                        font-weight: 700;
                        color: #3b3c40;
                        // font-size: 24px;
                    }

                    div {
                        background-color: #e7f3ff;
                        border-radius: 50%;
                        height: 2vw;
                        width: 2vw;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .icon {
                            height: 60%;
                            width: 60%;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

                .descriptionContent {
                    font-weight: 400;
                    font-size: 2em;
                    font-size: 28px;

                    .editDesc {
                        width: 90%;
                        height: 250px;
                        margin-bottom: 20px;

                        textarea {
                            width: 100%;
                            height: 80%;
                            resize: none;
                            font-weight: 400;
                            font-size: 0.8em;
                            font-size: 20px;
                        }

                        .buttons {
                            width: fit-content;
                            background-color: #6c9fff;
                            height: fit-content;

                            border-radius: 80px;

                            .button {
                                padding: 12px 25px;
                                color: #ffffff;
                                font-size: 20px;
                                font-weight: 500;

                                border-radius: 80px;

                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }

            .musclesInvolvedContainer {
                height: 8vw;
                width: 100%;
                .musclesInvolvedTitle {
                    height: 3vw;
                    p {
                        font-weight: 700;
                        font-size: 24px;
                        color: #614d8f;
                    }
                }

                .musclesList {
                    display: flex;
                    flex-direction: row;

                    .musclesInvolved {
                        // height: 2vw;
                        padding: 0.5vw 1.5vw;
                        background-color: #e7f3ff;
                        margin-right: 1vw;
                        border-radius: 5px;

                        p {
                            font-size: 1vw;
                            font-weight: 600;
                            color: #614d8f;
                        }
                    }
                }
            }

            .videosContainer {
                height: 20vw;
                .videosTitle {
                    height: 3vw;
                    p {
                        font-weight: 700;
                        font-size: 24px;
                        color: #614d8f;
                    }
                }

                .videoItem {
                    height: 13vw;
                    width: 26vw;
                    border-radius: 10px;
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    video {
                        width: 50%;
                        height: 80%;
                        border-radius: 10px;
                        overflow: hidden;
                        object-fit: cover;
                    }
                    label{
                        width: max-content;
                    }
                }
            }
        }
    }
}
