.rootExercises {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    // height: 100%;
    // background-color: black;

    // margin-top: 2rem;

    padding-bottom: 50px; //remove afterwards

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 10px;

    .heading {
        height: 4rem;
        width: 100%;
        // background-color: red;
        font-size: 1.5rem;
        margin-top: 20px;
        font-weight: 700;
        color: #0d30ac;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .cardsContainer {
        width: 100%;
        max-height: 100%;



        padding-top: 10px;
        // overflow-y: auto;
        
        display: flex;
        flex-wrap: wrap;
        
        // align-items: center;
        justify-content: center;
        gap: 25px;
        // background-color: #0d30ac;
        .exercises {
            // margin: 1rem;
            overflow: hidden;
            width: 9vw;
            height: 24vh;
            border: 4px solid white;
            border-radius: 20px;

            box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
                rgba(0, 0, 0, 0.05) 0px 5px 10px;

            // box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
            //     rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

            // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            position: relative;

            img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
                // z-index: 1;
            }

            .calories {
                position: absolute;
                width: 40%;
                height: 12%;
                background: #f5f1ff;
                border-radius: 30px;

                top: 4%;
                left: 4%;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .icon {
                    height: 80%;
                    // width: 40%;
                    // background-color: #0d30ac;
                }

                .count {
                    margin-left: 0.1vw;
                    height: 80%;
                    // background-color: red;
                    span {
                        font-size: 1.3rem;
                        font-weight: 700;
                        color: #0d30ac;
                    }
                }
            }

            .title {
                position: absolute;
                width: 70%;
                height: 12%;
                background: #f5f1ff;
                border-radius: 30px;

                bottom: 8%;
                left: 15%;

                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    color: #614d8f;
                    size: 1.2px;
                    font-weight: 600;
                }
                // left: 30%;
                // z-index: 100;
            }
        }
    }

    .button {
        margin-top: 20px;
        // width: 20%;
        padding: 10px 15px;
        // height: 50px;
        background: #3e61dc;
        cursor: pointer;
        border-radius: 35px;

        .mainbutton {
            width: 100%;
            height: 100%;
            // margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            span {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}
