.rootHeader {
    height: 6vw;
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // background-color: red;
    align-items: center;
    padding: 15px;
    .greet {
        // background-color: aqua;
        width: 16vw;
        .greeting {
            font-weight: 600;
            font-size: 2vw;
            color: #0d30ac;
        }
        .time {
            // background-color: red;
            display: flex;
            flex-direction: row;
            width: 80%;
            padding-right: 1vw;
            justify-content: space-between;
            span {
                color: #0d30ac;
                font-weight: 500;
                font-size: 1vw;
            }
        }
    }

    .functionalities {
        display: flex;
        flex-direction: row;
        // background-color: yellow;
        height: 100%;
        width: 23%;
        align-items: center;
        justify-content: space-between;
        .search {
            background-color: #ffffff;
            width: 13vw;
            height: 3vw;
            border-radius: 60px;

            display: flex;
            align-items: center;
            justify-content: center;

            .searchbar {
                width: 90%;
                // background-color: red;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid transparent;
                border-radius: 4px;
                padding: 4px;

                input {
                    // flex: 1;
                    border: none;
                    outline: none;
                    padding: 8px;
                    font-size: 1vw;
                    width: 70%;
                    margin-left: 4px;
                    color: #4371cb80;

                    &::placeholder {
                        color: #4371cb80;
                        font-weight: 600;
                    }
                }
            }
        }

        .notifications {
            width: 3.5vw;
            height: 3.5vw;
            border-radius: 50%;
            background-color: #ffffff;

            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
