.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  div {
    display: flex;
    font-weight: 500;
    align-items: center;
    gap: 1px;
    color: blue;
    // width: 10vw;
  }
  p {
    font-weight: 500;
    font-size: 1rem;
  }
}

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  .percentage {
    width: 6vw;
    span {
      font-size: 1rem;
      color: rgb(50, 255, 47);
      margin-left: 5%;
    }
  }

  h1 {
    font-size: 2rem;
    text-align: center;
    // line-height: 15px;
  }
  .downarrow {
    transform: rotate(180deg);
  }
}

@media only screen and (max-width: 450px) {
  .top {
    p {
      font-size: 22px;
      font-weight: 600;
    }
    div {
      font-size: 16px;
    }
  }
  .center {
    padding-bottom: 2%;
    color: white;
    .percentage {
      width: 24vw;
    }
    div {
      gap: 0;
      span {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
}
