.rootWelcomeCard {
    height: 22%;
    margin: 10px;
    margin-top: 0;
    width: 100%;
    border-radius: 20px;
background: #FFF;

/* 11 */
box-shadow: 0px 4px 8px 0px rgba(180, 196, 235, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;

    // box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 3px 0px;
    // // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    .left {
        width: 60%;
        height: 65%;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: space-between;
        margin-left: 2rem;

        .heading {
            color: #0d30ac;
            font-size: 2rem;
            font-weight: 600;
        }

        .subText {
            font-weight: 500;
            font-size: 16px;
            color: #4371cb;
            margin-bottom: 5px;
        }
    }

    .right {
        // background-color: aqua;
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            margin-left: 1rem;
            height: 90%;
        }
    }
}
