.rootClientDetails {
    .header {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .headerContainer {
            display: flex;
            width: max-content;
            gap: 20px;

            .userImage {
                width: 4vw;
                height: 4vw;

                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            .userName {
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    font-weight: 500;
                    font-size: 2rem;
                    color: #0d1dac;
                }
            }
        }

        .headerButtons {
            width: 22%;
            display: flex;
            justify-content: space-between;
            .buttons {
                padding: 11px 30px;
                background-color: #6c9fff;
                border-radius: 80px;

                .button {
                    background-color: transparent;
                    border: none;
                    color: #ffffff;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    .dashboard {
        margin: 2vw auto;
        width: 92%;
        height: fit-content;

        .clientInfo {
            width: 100%;
            height: 60%;
            // background-color: yellow;

            .data {
                height: 100%;
                width: 100%;
                margin: auto 0;
            }
        }

        .bottomContainer {
            margin-top: 70px;
            width: 100%;
            height: 40%;

            // background-color: red;

            display: flex;
            align-items: center;

            .graph {
                width: fit-content;
                height: fit-content;
                background: linear-gradient(
                    123.33deg,
                    #7fa5ed -88.05%,
                    #0d30ac 167.83%
                );
                display: flex;
                flex-direction: column;
                gap: 20px;
                border-radius: 56px;
                gap: 25px;
                padding: 25px 50px;
                background: transparent;
                .top{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-left: 30px;
                    p{
                     background: linear-gradient(
                    123.33deg,
                    #7fa5ed -88.05%,
                    #0d30ac 167.83%);
                        padding: 15px 25px;
                        border-radius: 24px;
                        color: white;
                        cursor: pointer;
                    }
                }

                .chart{
                    background: linear-gradient(
                        123.33deg,
                        #7fa5ed -88.05%,
                        #0d30ac 167.83%
                    );
                    padding: 20px 35px;
                    border-radius: 40px;
                    width:35vw;
                }
            }

            .buttons {
                width: 30%;
                height: 100%;

                display: flex;
                gap: 25px;
                // justify-content: flex-end;
                flex-direction: column;
                padding-left: 50px;
                

                .assign{
                     background: linear-gradient(
                    123.33deg,
                    #7fa5ed -88.05%,
                    #0d30ac 167.83%
                );
                    padding: 15px 28px;
                    width: fit-content;
                    font-size: 20px;
                    border-radius: 26px;
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

    /* Overlay Styles */
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-color: rgba(94, 94, 94, 0.329);

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        // padding: 0 450px 150px 0;
        // background-color: red;

        .overlayContent {
            background-color: #f4f9ff;
            padding: 30px 50px 0 50px;
            outline: 3px solid #d6e1fe;
            text-align: center;

            width: fit-content;
            height: fit-content;
            border-radius: 20px ;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .closeicon{
                position: relative;
                left: 52%;
            }
            .closeicon{
                cursor: pointer;
            }

            .inputBox {
                display: flex;
                flex-direction: column;
                margin: 10px;
                height: 91px;
                width: 322px;

                label {
                    font-family: "Raleway";
                    font-size: 24px;
                    font-weight: 600;
                    text-align: left;
                    padding: 8px 0;
                }

                input {
                    background: #ffffff;
                    box-shadow: 0px 4px 8px 0px #d3d3d366;
                    border-radius: 8px;
                    height: 50px;
                    width: 100%;
                }
            }

            button {
                margin: 20px 0;
                background: #6c9fff;
                box-shadow: 0px 4px 8px 0px #6c9fff40;

                color: #fff;
                border: none;
                padding: 10px 20px;
                border-radius: 8px;
                cursor: pointer;
                font-size: 1rem;

                &:hover {
                    background-color: #0056b3; /* Change to a darker shade on hover if desired */
                }
            }
        }
    }
}

.assignedExercises {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
        width: 24vw;
        height: fit-content;
        padding: 30px 20px 15px 20px;

        outline: 3px solid #d6e1fe;
        border-radius: 20px;
        margin: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .heading {
            // background-color: yellow;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: #2b39b6;
                font-weight: 700;
                font-size: 1.5rem;
            }
        }

        .cards {
            margin-top: 2vw;
            .exercise {
                width: 20vw;
                min-height: 2.5vw;

                padding: 10px 20px;
                margin-bottom: 0.8vw;

                background-color: #f9f6ff;
                border-radius: 10px;

                display: flex;
                align-items: center;
                justify-content: space-between;

                .exerciseName {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    // justify-content:center;
                    p {
                        font-weight: 600;
                        font-size: 1.2rem;
                        color: #000000;
                    }
                }

                .delete {
                    width: 8%;
                    height: 70%;

                    .icon {
                        width: 100%;
                        height: 100%;
                        color: #699bf7;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .footer {
            margin-top: 10vw;
            width: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .buttons {
                height: 3vw;
                width: 3vw;

                .icon {
                    height: 100%;
                    width: 100%;
                    color: #8db2f9;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .rootClientDetails {
        .header {
            width: 90vw;
            margin-bottom: 3%;
            margin-top: 2%;
            .headerContainer {
                gap: 20px;
                .userImage {
                    width: 12vw;
                    height: 12vw;
                }
                .userName {
                    p {
                        font-size: 1.3rem;
                    }
                }
            }
            .headerButtons {
                width: 20vw;
                display: flex;
                justify-content: space-between;
                .buttons {
                    padding: 6px 16px;
                    .button {
                        font-size: 16px;
                    }
                }
            }
        }
    
        .dashboard {
            margin: 0;
            width: 92%;
    
            .clientInfo {
                width: 100vw;
                height: 60%;
                // background-color: yellow;
    
                .data {
                    height: 100%;
                    width: 100%;
                    margin: auto 0;
                }
            }
    
            .bottomContainer {
                margin-top: 10px;
                width: 100vw;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .graph {
                    flex-direction:column-reverse;
                    justify-content: center;
                    align-items: center;
                    padding: 15px 0px;
                    .top{
                        justify-content: space-between;
                        gap: 0px;
                        margin-left: 0px;
                        width: 80vw;
                        p{
                            padding: 5px 10px;
                            border-radius: 14px;

                        }
                    }
    
                    .chart{
                        padding: 10px 15px;
                        border-radius: 20px;
                        width:90vw;
                    }
                }
    
                .buttons {
                    width: 80vw;
                    gap: 0px;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    padding-left: 0;
                    .assign{
                        padding: 5px 15px;
                        font-size: 16px;
                    }
                }
            }
        }
    
        /* Overlay Styles */
        .overlay {
            .overlayContent {
                padding: 20px 50px 0 50px;
                width: 90vw;
                height: auto;
                border-radius: 10px;
                outline: 5px solid #d6e1fe;
                .closeicon{
                    left: 56%;
                }
                .closeicon{
                    cursor: pointer;
                }
    
                .inputBox {
                    margin: 0px;
                    height: 91px;
                    width: 70vw;
    
                    label {
                        font-size: 20px;
                    }
    
                    input {
                        border-radius: 6px;
                        height: 40px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .assignedExercises {
        .container {
            width: 80vw;
            height: fit-content;
            padding: 10px 20px 15px 20px;
            margin-top: 5%;
            border-radius: 10px;
            .heading {
                p {
                    font-size: 1.3rem;
                }
            }
    
            .cards {
                margin-top: 2vw;
                .exercise {
                    width: 70vw;
                    margin-bottom: 4%;
                    .exerciseName {
                        width: 84%;
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .footer {
                .buttons {
                    height: 12vw;
                    width: 12vw;
                }
            }
        }
    }
}
