.rootClients {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2vw;

    .header {
        margin-bottom: 2vw;
        width: 95%;
        top: 0;
        display: flex;
        justify-content: space-between;

        .title {
            width: 30%;
            p {
                font-weight: 700;
                font-size: 2.3rem;
                color: #3b3c40;
            }
        }

        .buttons {
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        .listContainer {
            display: flex;
            flex-wrap: wrap;
            // justify-content: space-between;
            gap: 20px;
            width: 100%;


            .card {
                width: 24vw;
                // height: 6vw;
                margin-bottom: 1em;
            }

            .card {
                background-color: #e7f3ff;
                padding: 2rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                justify-content: space-between;
                border-radius: 1vw;

                .imageContainer {
                    // width: 3vw;
                    // height: 3vw;
                    // border-radius: 50%;
                    // overflow: hidden;
                    // background-color: red;
                    width: 15%;
                    .profilePicture {
                        width: 3vw;
                        height: 3vw;
                        border-radius: 50%;
                        overflow: hidden;
                        object-fit: cover;
                        // width: 100%;
                        // height: 100%;
                    }
                }

                .textContainer {
                    // background-color: yellow;
                    width: 80%;

                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .username {
                        p {
                            font-weight: 600;
                            font-size: 1.53rem;
                            color: #0d1dac;
                        }
                    }

                    .buttons {
                        margin-right: 2vw;
                        width: 5vw;
                        height: 2vw;
                        border-radius: 40px;
                        border: 1px solid #361f69;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        p {
                            // padding: 1rem;
                            font-weight: 600;
                            font-size: 1.28rem;
                            color: #361f69;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
