.exerciseDetailsContainer {
    margin-left: 2%;
    .header {
        display: flex;
        flex-direction: row;
        width: 97%;
        margin-top: 1.4%;
        .exerciseTitle {
            font-weight: 700;
            font-size: 36px;
            letter-spacing: 0.2px;
            height: 4vw;
            width: 90%;
            p {
                color: #3b3c40;
            }
        }

        .buttons {
            background-color: #6c9fff;
            height: fit-content;

            border-radius: 80px;

            .button {
                padding: 8px 20px;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;

                border-radius: 80px;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }

    .container {
        margin-top: 2%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        width: 100%;
        .card{
            background-color: #e7f3ff;
                padding: 1.6rem;
                margin-right: 4%;
                margin-left: 1%;
                margin-bottom: 2%;
                border-radius: 1vw;
                .tag{
                    .exerciseName{
                        font-weight: 600;
                        font-size: 1.4rem;
                        color: #0d1dac;
                        margin-bottom: 1%;
                    }
                    
                }
                .musclesInvolved{
                    padding: 2px 0px;
                    // background-color: #e7f3ff;
                    margin-top: 10px;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 600;
                    color: #614d8f;
                }
        }
    }
    @media only screen and (max-width: 450px) {
        .header {   
            width: 97%;
            margin-top: 1.4%;
            .exerciseTitle {
                font-size: 1.7rem;
            }
    
            .buttons {
                .button {
                    padding: 6px 20px;
                    font-size: 14px;
                }
            }
        }
    
        .container {
            margin-top: 6%;
            gap: 10px;
            .card{
                    padding: 1rem;
                    border-radius: 10px;
                    .tag{
                        .exerciseName{
                            font-size: 1.4rem;
                        }
                        
                    }
                    .musclesInvolved{
                        padding: 1px 0px;
                        
                    }
            }
        }
    }
}


