.rootHealthData {
    width: 100%;
    height: 100%;

    .heading {
        height: 15%;
        margin-bottom: 30px;
        p {
            font-size: 32px;
            font-weight: 600;
            color: #000000;
        }
    }

    .graphs {
        display: flex;
        gap: 70px;
        margin-left: 3%;

        .heartBeat {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            // margin: auto;
            // background-color: pink;
            .head {
                height: 10%;
                p {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }

        .weight {
            width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            // margin: auto;
            // background-color: pink;
            .head {
                height: 10%;
                // background-color: red;
                p {
                    font-size: 20px;
                    font-weight: 600;
                }
            }

   
        }
        
    }
}
.pieChart {
    margin: auto;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    display: flex;
    align-items: center;
    justify-content: center;

    .data {
        font-weight: 600;
        font-size: 40px;
        color: #000000;
    }
    .data1 {
        font-weight: 600;
        font-size: 40px;
        color: white;
    }

    .tag {
        font-size: 22px;
        line-height: 15px;
        font-weight: 600;
        color: #000000;
    }
    .tag1 {
        font-size: 22px;
        line-height: 15px;
        font-weight: 600;
        color: white;
    }
}

@media only screen and (max-width: 450px) {
    .rootHealthData {
        .heading {
            margin-left: 5%;
            p {
                font-size: 20px;
            }
        }
    
        .graphs {
            width: 100%;
            margin-left: 0;
            gap: 30px;
            justify-content: center;
            .heartBeat {
                width: 25%;
                gap: 10px;
                .head {
                    p {
                        font-size: 16px;
                    }
                }
            }
    
            .weight {
                width: 25%;
                gap: 10px;
                .head {
                    height: 10%;
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .pieChart {
        margin: auto;
        width: 26vw;
        height: 26vw;

        .data {
            font-size: 20px;
        }
        .data1 {
            font-size: 20px;
        }
    
        .tag {
            font-size: 12px;
            line-height: 15px;
        }
        .tag1 {
            font-size: 12px;
            line-height: 15px;

        }
    }
}