.container {
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 30%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-start;
    align-items: center;
    margin-top: 4%;
    box-shadow: 0px 4px 8px rgba(180, 196, 235, 0.25);
    border-radius: 20px;
    border: 1px #d6e1fe solid;
    // min-height:650px;

    h1 {
        color: #0d30ac;
        font-size: 290%;
        font-family: Raleway;
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: 5%;
    }

    h2 {
        margin-top: 8%;
        // margin-left: 0%;
        color: #0d30ac;
        font-size: 170%;
        font-family: Raleway;
        font-weight: 600;
        // line-height: 25px;
        word-wrap: break-word;
    }

    .inputBox {
        margin-top: 1%;
        width: 24vw;
        display: flex;
        position: relative;

        .SecurityIcon {
            position: absolute;
            top: 10px;
            left: 4%;
            width: 25px;
            height: 25px;
        }
        .EyeIcon {
            position: absolute;
            height: 42px;
            width: 25px;
            left: 90%;
        }

        input {
            width: 100%;
            height: 50px;
            background: #f8f8f8;
            border-radius: 8px;
            border: none;
            padding-left: 70px;

            font-size: 1vw;
        }
    }

    .submitBtn {
        margin-top: 4%;
        // justify-content: center;
        // align-items: center;
        // gap: 24px;
        // display: inline-flex;

        button {
            width: 100%;
            min-height: 55px;
            margin-top: 2%;
            padding-left: 64px;
            padding-right: 64px;
            padding-top: 16px;
            padding-bottom: 16px;
            border-radius: 8px;
            text-align: center;
            color: white;
            background: #0d30ac;
            font-size: 20px;
            font-family: Raleway;
            font-weight: 600;
            word-wrap: break-word;
        }
    }

    .fpLink {
        margin-top: 2%;
        a {
            width: 10%;
            height: 41.86px;
            text-align: center;
            color: #0d30ac;
            font-size: 18px;
            font-family: Raleway;
            font-weight: 600;
            text-decoration: underline;
            word-wrap: break-word;
        }
    }
}
