.container {
    width: 30vw;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(180, 196, 235, 0.25);
    border-radius: 20px;
    outline: 3px #d6e1fe solid;
    margin-top: 2%;
    position: relative;
    .cancelIcon{
        position: relative;
        left: 12.5vw;
        font-size: 2rem;
        color: #98afff;
    }
    h1 {
        color: #0d30ac;
        font-size: 2rem;
        font-family: Raleway;
        font-weight: 600;
        word-wrap: break-word;
        margin-bottom: 5%;
    }

    h2 {
        margin-top: 8%;
        // margin-left: 0%;
        color: #0d30ac;
        font-size: 1.4rem;
        font-family: Raleway;
        font-weight: 600;
        // line-height: 25px;
        word-wrap: break-word;
    }

    .inputBox {
        margin-top: 1%;
        width: 24vw;
        display: flex;
        align-items: center;
        position: relative;

        .SecurityIcon {
            position: absolute;
            top: 12px;
            left: 4%;
            width: 25px;
            height: 25px;
        }
        .EyeIcon {
            position: absolute;
            height: 42px;
            width: 25px;
            left: 90%;
            color: rgb(107, 106, 106);
        }

        input {
            width: 100%;
            height: 50px;
            background: #f8f8f8;
            border-radius: 8px;
            border: none;
            padding-left: 16%;

            font-size: 1rem;
        }
    }

    .submitBtn {
        margin-top: 4%;
        button {
            width: 10vw;
            height: 7vh;
            margin-top: 2%;
            border-radius: 8px;
            text-align: center;
            color: white;
            background: #0d30ac;
            font-size: 1.1rem;
            font-family: Raleway;
            font-weight: 600;
            word-wrap: break-word;
        }
    }

    .fpLink {
        margin-top: 2%;
        a {
            width: 8vw;
            height: 3vh;
            text-align: center;
            color: #0d30ac;
            font-size: 1rem;
            font-family: Raleway;
            font-weight: 600;
            text-decoration: underline;
            word-wrap: break-word;
        }
    }
    @media only screen and (max-width: 450px) {
        width: 90vw;
        margin-top: 8%;
        .cancelIcon{
            position: relative;
            left: 36vw;
            font-size: 2rem;
            color: #98afff;
        }
        h1 {
            font-size: 1.6rem;
            margin-bottom: 1%;
        }
    
        h2 {
            font-size: 1.2rem;
            margin-top: 4%;
        }
    
        .inputBox {
            margin-top: 1%;
            width: 80vw;
    
            .SecurityIcon {
                top: 15px;
                left: 4%;
                width: 22px;
            }
    
            input {
                padding-left: 16%;
                font-size: 1rem;
            }
        }
    
        .submitBtn {
            margin-top: 4%;
            button {
                width: 26vw;
                height: 5vh;
                margin-top: 2%;
                font-size: 1rem;
            }
        }
    
        .fpLink {
            margin-top: 0;
            a {
                width: 8vw;
                height: 3vh;
                font-size: .8rem;
            }
        }
    }
}
