.rootSignup {
    width: 100%;
    height: 100%;
    background: #7282fb;
    padding: 4.37rem 0;
    position: relative;
    .container {
        width: 80vw;
        height: auto;
        border-radius: 2.5rem;
        border-bottom: 1px solid #18247e;
        background: #fff;
        box-shadow: 0px 4px 4px 0px #18247e;

        margin: auto;

        .content {
            height: auto;
            width: 60vw;
            margin: auto;
            padding-top: 40px;

            .header {
                width: 100%;

                .heading {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .l1 {
                        color: #000;
                        font-family: "Poppins";
                        font-size: 2.5rem;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .l2 {
                        color: #000;
                        text-align: center;
                        font-family: "Roboto";
                        font-size: 24px;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }

            .form {
                width: 100%;
                height: auto;
                margin: 75px 0 50px 0;
                .columnph{
                    width: 30%;
                }
                .column {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;

                    margin-top: 30px;
                    // width: 100%;

                    .inputBox {
                        display: flex;
                        flex-direction: column;

                        width: 100%;
                        // background-color: red;

                        label {
                            color: #000;
                            font-family: "Roboto";
                            font-size: 24px;
                            font-weight: 400;
                            margin-left: 7px;
                        }

                        input {
                            width: 100%;
                            height: 50px;
                            margin-top: 5px;

                            background-color: transparent;

                            color: #817c7c;
                            font-family: "Roboto";
                            font-size: 22px;
                            font-weight: 400;

                            border-radius: 10px;
                            background: #e3e6fe;
                        }

                        .icon {
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 10%;
                        }
                    }
                }

                .inputBoxNormal {
                    display: flex;
                    flex-direction: column;

                    width: 100%;
                    margin-top: 30px;
                    label {
                        color: #000;
                        font-family: "Roboto";
                        font-size: 24px;
                        font-weight: 400;
                        margin-left: 7px;
                    }

                    input {
                        width: 80%;
                        height: 50px;
                        margin-top: 5px;

                        border-radius: 10px;
                        background: #e3e6fe;

                        color: #817c7c;
                        font-family: "Roboto";
                        font-size: 22px;
                        font-weight: 400;
                    }
                }

                .bio {
                    display: flex;
                    flex-direction: column;

                    width: 100%;
                    margin-top: 30px;

                    margin-bottom: 50px;
                    label {
                        color: #000;
                        font-family: "Roboto";
                        font-size: 24px;
                        font-weight: 400;
                        margin-left: 7px;
                    }

                    textarea {
                        width: 100%;
                        height: 250px;
                        margin-top: 5px;

                        border-radius: 10px;
                        background: #e3e6fe;

                        color: #817c7c;
                        font-family: "Roboto";
                        font-size: 22px;
                        font-weight: 400;

                        resize: none;

                        padding: 19px 11px 19px 11px;
                    }
                }

                .column2 {
                    display: flex;
                    flex-direction: row;
                    gap: 80px;

                    margin-top: 30px;
                    // width: 100%;

                    .inputBox {
                        display: flex;
                        flex-direction: row;

                        width: 30%;
                        align-items: center;
                        justify-content: center;

                        label {
                            color: #000;
                            font-family: "Roboto";
                            font-size: 24px;
                            font-weight: 400;
                            margin-left: 7px;
                        }

                        input {
                            width: 100%;
                            height: 50px;
                            // margin-top: 5px;
                            margin-left: 15px;

                            border-radius: 10px;
                            background: #e3e6fe;

                            color: #817c7c;
                            font-family: "Roboto";
                            font-size: 22px;
                            font-weight: 400;
                        }

                        .gender {
                            width: 100%;
                            height: 50px;
                            margin-left: 15px;

                            border-radius: 10px;
                            background: #e3e6fe;

                            color: #817c7c;
                            font-family: "Roboto";
                            font-size: 22px;
                            font-weight: 400;

                            border: none;

                            padding: 8px;

                            &:focus {
                                border: 2px solid #809bdd;
                            }
                        }
                    }
                }

                .footer {
                    margin-top: 50px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: fit-content;
                        height: fit-content;

                        background-color: #7282fb;
                        border: none;
                        border-radius: 10px;

                        padding: 10px 20px;

                        font-size: 20px;
                        color: #ffffff;

                        cursor: pointer;

                        margin-bottom: 10px;
                        &:hover {
                            scale: 1.02;
                        }
                    }

                    span {
                        cursor: pointer;

                        color: #181818;
                        text-align: center;
                        font-family: "Roboto";
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .errorPopup {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        z-index: 1000; /* Adjust as needed based on your layout */

        .errorPopupContent {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            text-align: center;

            display: flex;
            flex-direction: column;
            align-items: center;

            .closeErrorPopup {
                cursor: pointer;

                width: fit-content;
                height: fit-content;
                background-color: #7282fb;
                border-radius: 10px;

                display: flex;
                align-items: center;

                span {
                    padding: 10px 20px;
                    color: #ffffff;
                }
            }

            h2 {
                font-family: "Roboto";

                margin-bottom: 10px;
            }

            p {
                font-family: "Roboto";
                font-size: 20px;
                font-weight: 400;

                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                padding: 0;

                li {
                    font-family: "Roboto";
                    font-size: 20px;
                    color: red;
                    margin: 5px 0;
                }
                margin-bottom: 20px;
            }
        }
    }

    @media only screen and (max-width: 450px){
        .container {
            width: 90vw;
            border-radius: 15px;
            .content {
                width: 80vw;
                padding-top: 15px;
                .header {
                    width: 100%;
                    .heading {
                        .l1 {
                            font-size: 2rem;
                        }
                        .l2 {
                            font-size: 1.2rem;
                        }
                    }
                }
    
                .form {
                    margin: 15px auto;
                    .columnph{
                        width: 100%;
                    }
                    .column {
                        flex-direction: column;
                        margin-top: 5px;
                        gap: 10px;
                        .inputBox {
                            label {
                                font-size: 1.2rem;
                                margin: 0;
                            }
                            input {
                                font-size: 1.2rem;
                                border-radius: 8px;
                            }
                            .icon {
                                height: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 10%;
                            }
                        }
                    }
                    .inputBoxNormal {
                        margin-top: 10px;
                        label {
                            font-size: 1.2rem;
                            margin: 0;
                        }
                        input {
                            width: 100%;    
                            font-size: 1.2rem;
                        }
                    }
    
                    .bio {
                        margin-top: 10px;
                        margin-bottom: 10px;
                        label {
                            font-size: 1.2rem;
                            margin: 0;
                        }
    
                        textarea {
                            min-height: 20vh;
                            font-size: 1.2rem;
                            height: 20vh;
                            padding: 10px 12px;
                        }
                    }
    
                    .column2 {
                        gap: 10px;
                        margin-top: 10px;
                        .inputBox {
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            width: 40vw;
                            label {
                                font-size: 1.2rem;
                                margin: 0;
                            }
    
                            input {
                                margin: 0;
                                border-radius: 10px;
                                font-size: 1.2rem;
                            }
    
                            .gender {
                                margin: 0;
                                font-size: 1.2rem;
                                padding: 8px;
                            }
                        }
                    }
    
                    .footer {
                        margin-top: 20px;
                        button {
                            font-size: 1.2rem;
                        }
                        span {
                            font-size: 1.2rem;

                        }
                    }
                }
            }
        }
        .errorPopup {
            .errorPopupContent {
                h2 {
                    font-size: 1.4rem;
                }
            }
        }
    }
}
